<div style="height:100%;">
    <hot-table 
        class="hot" 
        [data]="dataset" 
        [colHeaders]="true" 
        [rowHeaders]="true"
        licenseKey="non-commercial-and-evaluation">
        <hot-column data="RUT_CLI"  title="RUT_CLI"></hot-column>
        <hot-column data="SEC_RUT_CLI" title="SEC_RUT_CLI"></hot-column>
        <hot-column data="NOMBRE_CLI" title="NOMBRE_CLI"></hot-column>
        <hot-column data="NEMO"  title="NEMO"></hot-column>
        <hot-column data="EMISOR" title="EMISOR"></hot-column>
        <hot-column data="FEC_VCTO" title="FEC_VCTO"></hot-column>
        <hot-column data="TIPO_REAJ"  title="TIPO_REAJ"></hot-column>
        <hot-column data="NOMINALES" title="NOMINALES"></hot-column>
        <hot-column data="GARANTIAS" title="GARANTIAS"></hot-column>
        <hot-column data="CAN_ACTUAL"  title="CAN_ACTUAL"></hot-column>
        <hot-column data="CAN_COM_PLAZO" title="CAN_COM_PLAZO"></hot-column>
        <hot-column data="CAN_GARANTIA" title="CAN_GARANTIA"></hot-column>
        <hot-column data="VAL_RESC" title="VAL_RESC"></hot-column>
        <hot-column data="VAL_RESC_PLAZO" title="VAL_RESC_PLAZO"></hot-column>
        <hot-column data="RELACION" title="RELACION"></hot-column>
        <hot-column data="MONTO_ACT_AJUS" title="MONTO_ACT_AJUS"></hot-column>
        <hot-column data="TASA_MED_CIE" title="TASA_MED_CIE"></hot-column>
        <hot-column data="TIPO_REAJ__1" title="TIPO_REAJ__1"></hot-column>
        <hot-column data="COD_PER" title="COD_PER"></hot-column>
        <hot-column data="TOTAL_CARTERA" title="TOTAL_CARTERA"></hot-column>
        <hot-column data="IND_FUNGIBILIDAD" title="IND_FUNGIBILIDAD"></hot-column>
        <hot-column data="TIPO_CUENTA_DCV" title="TIPO_CUENTA_DCV"></hot-column>
        <hot-column data="SEC_CAR_INVER" title="SEC_CAR_INVER"></hot-column>
    </hot-table>
</div>