<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode.value">
        <div class="sidenav">
            <div class="sidebar-head">
                <img class="logo-sidebar-head" src="assets/img/logos/Corredor-de-Bolsa.png" alt="">
                <button mat-button (click)="sidenav.toggle()" class="buttonHadSidebar">
                    <fa-icon [icon]="faBars" ></fa-icon>
                </button>
                <button mat-button (click)="signOut()" class="buttonHadSidebar  rotate-180">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="sidebar-body">
                <div class="section" *ngFor="let section of menu">
                    <mat-toolbar class="section-header">
                        <span>{{section.nameSection}}</span>
                        <span class="spacer"></span>
                    </mat-toolbar>
                    <mat-accordion *ngFor="let item of section.items">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <fa-icon [icon]="faBars"></fa-icon>
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{item.name}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]='subItem.url'
                                    *ngFor="let subItem of item.list">{{subItem.name}}</a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()" class="buttonToggle">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-divider></mat-divider>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>